    <header class="main_h">

        <div class="row">
            <a class="logo" href="#">Home</a>

            <div class="mobile-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav>
                <ul>
                    <li><a href=".sec01">Diapo 01</a></li>
                    <li><a href=".sec02">Diapo 02</a></li>
                    <li><a href=".sec03">Diapo 03</a></li>
                    <li><a href=".sec04">Diapo 04</a></li>
                    <li><a href=".sec05">Diapo 05</a></li>
                    <li><a href=".sec06">Diapo 06</a></li>
                    <li><a href=".sec07">Diapo 07</a></li>
                    <li><a href=""><img
                                src="https://img.icons8.com/windows/26/000000/thick-arrow-pointing-down.png"></a></li>
                </ul>
            </nav>

        </div> <!-- / row -->

    </header>